<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miguel.semanai" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Principal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActividadCargando"
            android:label="@string/title_activity_actividad_cargando" >
        </activity>
        <activity
            android:name=".ActividadFormulario"
            android:label="@string/title_activity_actividad_formulario" >
        </activity>
        <activity
            android:name=".ActividadReporte"
            android:label="@string/title_activity_actividad_reporte" >
        </activity>
    </application>

</manifest>
